@charset "utf-8";
/* CSS Document */

body {
	margin:0 auto;	
	padding:0;
	font-family: 'Open Sans', sans-serif;
}
#wrapper {
    width: 100%;
    min-width: 1024px;
    max-width: 2048px;
    margin: 0 auto -121px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -121px; /* the bottom margin is the negative value of the footer's height */	
}
#wrapper-home {
    width: 100%;
    min-width: 1024px;
    max-width: 2048px;
    margin: 0 auto;
}
.footer, .push {
	height: 121px; /* .push must be the same height as .footer */
}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
#header {
    width: 100%;
}
.top-nav {
	background-image:url(title_bar.jpg);
	background-repeat:repeat-x;
	width:100%;
	height:61px;
}
.top-logo{
	background-image:url(home_logo.jpg);
	float:left;
	width:210px;
	height:61px;
}
.top-twitter{
	float:left;
	width:59px;
	height:61px;
	margin-left:50px;
}
.top-facebook{
	float:left;
	width:59px;
	height:61px;
}
.top-google{
	float:left;
	width:59px;
	height:61px;
}	
.top-instagram{
	float:left;
	width:59px;
	height:61px;
}
.top-home-tab{
	float:left;
	width:97px;
	height:61px;
	margin-left:30px;
}	
.top-about-tab{
	float:left;
	width:97px;
	height:61px;
}	
.top-events-tab{
	float:left;
	width:111px;
	height:61px;
}	
.top-contact-tab{
	float:left;
	width:111px;
	height:61px;
}	
.top-login-btn{
	float:left;
	width:145px;
	height:42px;
	margin-left:15px;
	margin-top:9px;
}
#navigation {
    width: 100%;
	height:73px;
}
#navigation2 {
    width: 100%;
	height:54px;
}
.top-nav-two{
	background-image:url(gray_title2.jpg);
	background-repeat:repeat-x;
	width:100%;
	height:54px;
}
.top-nav-two-white {
	width:100%;
	height:54px;
}
.top-nav-two-white .search-wrapper {
    float:right;
}
.top-nav-two-white .title-wrapper {
    float:left;
    font-size:28px;
    padding:5px;
}
.top-nav-two-i-am-a{
	background-image:url(i_am_a_title.jpg);
	float:left;
	width:200px;
	height:54px;
}
.top-nav-two-coach{
	float:left;
	width:111px;
	height:54px;	
}
.top-nav-two-coach-selected{
	float:left;
	width:132px;
	height:73px;
}
.top-nav-two-athlete-selected{
	float:left;
	width:132px;
	height:73px;
}
.top-nav-two-athlete{
	float:left;
	width:134px;
	height:54px;
}
.top-nav-two-fan{
	float:left;
	width:116px;
	height:54px;
}
.top-nav-two-fan-selected{
	float:left;
	width:132px;
	height:73px;
}
.top-nav-two-text-box{
	float:left;
	margin-left: 20px;
	margin-top:12px;
	border: 1px solid #848484;	
}
.top-nav-two-search{
	float:left;
	width:96px;
	height:26px;
	margin-left: 13px;
	margin-top:12px;
}
.clear-fix{
	clear:both;	
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
a:link {
	color:#666;
}  
.bottom-gray-bar{
    height: 75px;
    width: 100%;
    background: #666666;
    clear: both;
}
.bottom-orange-bar{
    height: 46px;
    width: 100%;
    background: #e47b41;
    clear: both;
}


#contentwrapper-space {
	background-image:url();
	float: left;
	width: 100%;	
}

#contentcolumn-space {
	margin-top:15px;
	margin-left:238px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px;
	
	
}

#contentcolumn-home {
	width:100%;
}

.content-main-box{
	background-image:url(semi-transparent-gray.png);
	background-repeat:repeat;
	position:relative;
	padding:10px;
	border:5px solid gray;
}

.content-main-box-a{
	background-color:#ffffff;
	position:relative;
	padding:10px;
}

.content-main-box-ab {
	background-image:url(semi-transparent-gray.png);
	background-repeat:repeat;
	position:relative;
	padding:25px;	
}
.content-home-bottom-images {
	width:100%;
	margin:0 auto;
	text-align:center;
}
.content-home-bottom-images-wrap {
	width:800px;
	margin:0 auto;
	margin-top:10px;
}
.content-home-bottom-images-wrap img {
	margin-right:20px;
}

#leftcolumn {
	float: left;
	width: 200px; 
	margin-left: -100%;
	background: #e47b41;
}
#leftcolumn-space {
	float: left;
	width: 238px; 
	margin-left: -100%;
}
.left-orange-box-space{
	width:213px;
	margin-left:25px;
	margin-top:25px;
	text-align:center;
	min-height:550px;
	background-color: #e47b41;
}
#leftcolumn-middle {
	float: left;
	width: 301px; 
	margin-left: -100%;
}
.left-orange-box{
	background-color: #e47b41;
	width:200px;
	/*margin-top:-19px;*/
	/*text-align:center;*/
	padding-top:8px;
	/*min-height:600px;*/
}
.left-orange-box2{
	background-color: #e47b41;
	width:200px;
	text-align:center;
	padding-top:8px;
	/*min-height:600px;*/
}
.left-orange-divider{
	background-image:url(helpful_divider.jpg);
	margin:0 auto;
	width:200px;
	height:50px;
}
.left-orange-bar-divider{
	background-image: url(oragne_divider.jpg);
	width:141px;
	height: 1px;
	margin:0 auto;
	margin-top:16px;
}
.left-content-name {
	color:#FFF;
	margin:0 auto;
	padding-top:10px;
}
.left-content-text-title {
	margin:0 auto;
	text-align:left;
	margin-left:15px;
	margin-top:15px;
	font-size:18px;
	color:#FFF	
}
.left-content-text {
	font-size:12px;
	color:#FFF;
	text-align:left;
	margin-left:15px;
	margin-top:5px;
	max-width:180px;
}
.left-content{
	color:#FFF;
	margin-top:10px;
	font-size:12px;
	text-align:center;
}

.left-white-circle{
	background-image:url(athletes_pic.jpg);
	width:126px;
	height:126px;
	margin:0 auto;
	margin-top:8px;
}
.left-search-athlete-btn{
	width:185px;
	heigh:42px;
	margin:0 auto;
	margin-top:10px;
}
.left-events-btn{
	width:185px;
	heigh:42px;
	margin:0 auto;
	margin-top:10px;
}
.left-create-profile-btn{
	width:185px;
	heigh:42px;
	margin:0 auto;
	margin-top:10px;
	padding-bottom:15px;
}
.left-my-schools-btn{
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:16px;
}
.left-coaches-interested-in-btn{
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
}
.left-upgrade-btn{
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
}
.left-my-camps-btn{
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
.left-your-recruits-btn{
	background-image:url(your_recruits_btn.jpg);
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:16px;
}
.left-interested-in{
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
}
.left-athlete-update{
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
}
.left-coach_corner{
	width:165px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
}
.left-upload-camp{
	width:167px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
}
.left-search-athlete{
	width:167px;
	height: 52px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
.left-school-info-btn{
	width:161px;
	height:30px;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
}
.left-hudl{
	width:38px;
	height:60px;
	float:left;
	margin-left:25px;
}
.left-youtube{
	float:left;
	width:46px;
	height:60px;
}
.left-berec{
	float:left;
	width:42px;
	height:60px;
}
.left-ncsa{
	width:38px;
	height:60px;
	float:left;
}
.left-email-me-btn{
	marging-top:19px;
	width:162px;
	height:30px;
	margin:0 auto;
}
.left-locker-room-btn{
	padding:15px;
	width:162px;
	height:30px;
	margin:0 auto;
}
.left-orange-bar-show-more-options{
	width:162px;
	height:30px;
	margin: 0 auto;
	margin-top:35px;
}
.left-orange-search-divider{
	background-image:url(search-filters.jpg);
	float:left;
	width:200px;
	height:50px;
}
.left-my-profile-orange-divider{
	background-image: url(my_profile_links_divider.jpg);
	width:200px;
	height:75px;
}
.left-select-box-one{
	margin-top:14px;
	border-radius: 15px;
	width:187px;
	border:0;
}
.left-select-box-two{
	margin-top:14px;
	border-radius: 15px;
	border:0;
	width:187px;
}
.left-orange-bar-show-more-options{
	width:162px;
	height:30px;
	margin: 0 auto;
	margin-top:35px;
	padding:10px;
}
.left-orange-search-divider{
	background-image:url(search-filters.jpg);
	float:left;
	width:200px;
	height:50px;
}
.left-orange-bar-search-btn{
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	width:150px;
	height:39px;
}
.left-content-left{
	color:#FFF;
	margin-left:-20px;
}
.left-content-t-hdr{
	color:#FFF;
	text-align:left;
	margin-left:25px;
	margin-bottom:5px;
}
.left-my-profile-orange-divider{
	background-image: url(my_profile_links_divider.jpg);
	width:200px;
	height:75px;
}
.select-box-one {
	margin-top: 14px;
	border-radius: 15px;
	width: 187px;
	border: 0;
}
.select-box-two {
	margin-top: 14px;
	border: 0;
	width: 187px;
}
.athlete-dash-left-textbox1{
	border: 1px solid #848484;
    border-radius: 30px;
	width:186px;
	margin:0 auto;
}
.athlete-dash-left-textbox2{
	border: 1px solid #848484;;
    border-radius: 30px;
	width:186px;
	margin-top:43px;
	margin-left:6px;
}
.athlete-dash-left-textbox3{
	border: 1px solid #848484;;
    border-radius: 30px;
	width:186px;
	margin-top:43px;
	margin-left:6px;
}
.athlete-dash-left-textbox4{
	border: 1px solid #848484;;
    border-radius: 30px;
	width:186px;
	margin-top:43px;
	margin-left:6px;
}
.athlete-dash-left-textbox5{
	border: 1px solid #848484;;
    border-radius: 30px;
	width:186px;
	margin-top:43px;
	margin-left:6px;
}

ul.coachstats{
/*list-style*/
}

#contentcolumn{
	margin: 0 0 0 200px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}
#contentcolumn2{
	margin: 0 0 0 200px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
#contentcolumn-left-right {
	margin: 0 253px 0 200px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}
#contentcolumn-left {
	margin: 0 0 0 301px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.content-title {
	font-size:28px;
	color:#e47b41;	
}
.content-title-rivals-page {
	font-size:28px;
	color:#e47b41;	
	float:left;
}
.content-text-title-about-page{
	margin-left:15px;
	margin-top:30px;
	font-size:20px;
	color:#666666;
	font-weight:550;
}
.content-text-title-rivals-page{
	font-size:24px;
	color:#666666;
	float:left;
}
.content-text-title-search-page{
	font-size:20px;
	color:#666666;
	float:left;
}
.content-text-search-page{
	font-size:16px;
	color:#666666;
	margin-top:50px;
}
.content-text-rivals-nf, .content-title-rivals-nf-wrapper {
	margin-top:30px;
}
.rivals-wrapper {
	margin-bottom:20px;
}
.rivals-wrapper .rivals-com {
	font-size:24px;
	color:#666666;
}
.rivals-wrapper .rivals-img {
	float:left;
	width:123px;
	height:94px;
	margin-right:10px;
}
.rivals-wrapper .rivals-txt {
	font-size:15px;
	color:#666666;
}
.rivals-wrapper .rivals-rm {
	float:right;
}
.content-text-about-page{
	font-size:15px;
	color:#666;
	/*width:100%;*/
	margin-top:10px;
	margin-left:15px;
	margin-right:60px;
	max-width:1650px;
}
.content-text-contact-page{
	margin-left:15px;
	font-size:15px;
	color:#959595;
}
.content-text-rivals-page{
	font-size:15px;
	color:#666666;
	width:100%;
	margin-top:10px;
}
.content-submit-btn{
	margin:0 auto;	
	margin-top:75px;
	margin-left:300px;	
}
.content-long-divider{
	background-image:url(long_divider.jpg);
	width:100%;
	height:2px;
	margin: 0 auto;
	margin-top:100px;
}
.content-long-divider-two{
	background-image:url(long_divider.jpg);
	width:100%;
	height:2px;
	margin: 0 auto;
	margin-top:100px;
}
.content-add-newsfeed-btn{	
	width:147px;
	height:29px;
	margin:0 auto;
	float:right;
}
#content .col {
  	float: left;
  	font-size:15px;
	color:#666666;
	margin:0 auto;
	max-width:800px;
}
.content-edit-profile-btn{
	width:148px;
	height:30px;
	margin:0 auto;
	float:right;
}
.content-read-more-link{
	margin:0 auto;
	float:right;
	color:#666;
}
.content-box1 {
	border-style:solid;
	border-width:1px;
	width:100%;
	height:150px;
	margin:20px;
	margin-left:25px;
	float:left;
	max-width:150px;
}
.content-box2 {
	border-style:solid;
	border-width:1px;
	width:100%;
	height:150px;
	margin:20px;
	margin-left:25px;
	float:left;
	max-width:150px;
}
.content-box3 {
	border-style:solid;
	border-width:1px;
	width:150px;
	height:150px;
	margin:20px;
	float:left;
}
.content-box4 {
	border-style:solid;
	border-width:1px;
	width:100%;
	height:150px;
	margin:20px;
	margin-left:25px;
	float:left;
	max-width:150px;
}
.content-box5 {
	border-style:solid;
	border-width:1px;
	width:100%;
	height:150px;
	margin:20px;
	margin-left:25px;
	float:left;
	max-width:150px;
}
.content-box6 {
	border-style:solid;
	border-width:1px;
	width:100%;
	height:150px;
	margin:20px;
	margin-left:25px;
	float:left;
	max-width:150px;
}
.content-box{
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.5);
	border-width: 1px;
	width: 100%;
	height: 700px;
	max-width: 1000px;
	margin-top: 48px;
	margin-left: 30px;
}
.content-box-title-text{
	font-size:20px;
	color:#333;
	margin-bottom:25px;
}
.content-box-title-text2{
	font-size:20px;
	color:#333;
	margin-top:25px;
}
.content-box-text{	
	color:#333;
	margin-top:15px;
	font-size:15px;
}
.content-main-box1 {
	border-style:solid;
	border-width:1px;
	width:100%;
	height:250px;
	background-color:#ffffff;
}
.box2{
	border-style:solid;
	border-width:1px;
	height:100px;
	width:100px;
	margin-top:50px;
	margin-right:50px;
	float:left;
	max-width:150px;
	background-color:#ffffff;
}
.us-camps-pics{
	background-image:url(states_pic.jpg);
	margin: 0 auto;
	margin-top:30px;
	margin-left:25px;	
    height: 325px;
	background-repeat:no-repeat;
}
.us-map-pics{
	background-image:url(map_pic.jpg);
	margin: 0 auto;
	margin-top:30px;
	margin-left:25px;	
    height: 277px;
	background-repeat:no-repeat;
}
.search-result {
	margin-top:10px;
	border-bottom:solid 1px #eeeeee;
	padding-bottom:10px;
}
.content-search-detail {
	margin-left:10px;
	float:left;
}
.content-search-detail-name {
	font-size:16px;
	color:#666;
	font-weight:500;
}
.content-search-detail-detail {
	color:#666;
	font-size:12px;
	font-weight:100;	
}
.content-search-detail-buttons {
	float:right;
	margin-left:10px;
}
.content-search-picture{
	background-color:#333;
	width:46px;
	height:44px;
	float:left;
	margin-top:15px
}

.camp-search {

	border-bottom:solid 1px #eeeeee;
    padding-bottom:10px;
}
.camp-search-result {
	margin-top:10px;
	border-top:solid 1px #eeeeee;
	padding-bottom:10px;
}
.camp-search-detail {
	margin-left:10px;
	float:left;
}
.camp-search-detail-name {
	font-size:16px;
	color:#666;
	font-weight:500;
}
.camp-search-detail-detail {
	color:#666;
	font-size:12px;
	font-weight:100;	
}
.camp-search-detail-buttons {
	float:right;
	margin-left:10px;
}
.camp-search-picture{
	background-color:#333;
	width:46px;
	height:44px;
	float:left;
	margin-top:15px
}


form{
	margin-left:100px;
	margin-top:30px;
}


.frmadd label {
	float: left;
	font-size: 14px;
	text-align: left;
	margin-top: 4px;
	color:#959595;
}

.new_user label {
 display: block;
    margin-bottom: 5px;
}
.edit-form-wrapper label {
	width:150px;
}



/*
.input{
    font-size: 15px;
    padding: 5px;
    border: 1px solid #848484;;
    border-radius: 30px;
	width:300px;
}
*/

#rightcolumn {
	float: left;
	width: 253px; 
	margin-left: -253px; 
	background-image:url(white_background.jpg);
	background-repeat:repeat-y;
	margin-top:-19px;
}
#rightcolumn2 {
	float: left;
	width: 253px; 
	margin-left: -253px; 
	background-image:url(white_background.jpg);
	background-repeat:repeat-y;
}
.right-gray-box {
	width:231px;
	height:1000px;
	margin-top:25px;
	background-repeat:repeat-y;
}
.right-gray-top {
	background-image:url(gray_top_round.jpg);
	width:230px;
	height:6px;		
}
.right-gray-bottom {
	background-image:url(gray_bottom_round.jpg);
	width:230px;
	height:5px;		
}

.right-gray-content {
	background-image:url(gray_background.jpg);
	width:230px;	
	background-repeat:repeat-y;
	text-align:center;
}
.right-content-title{
  	font-size:20px;
	color:#333;
	margin:0 auto;
	font:bolder;
}
#right-content .right-circle-pic {
	background-image:url(white-circle.jpg);
	width:50px;
	height:50px;
  	float: left;
  	font-size:15px;
	color:#666666;
	margin:0 auto;
	margin-top:15px;
	margin-left:10px;
}
#right-content .right-orange-circle-pic {
	background-image:url(orange_circle.jpg);
	width:48px;
	height:48px;
  	float: left;
  	font-size:15px;
	color:#666666;
	margin:0 auto;
	margin-top:15px;
	margin-left:10px;	
}
.orange-circle-pic {
	background-image:url(orange_circle.jpg);
	width:48px;
	height:48px;
  	float: left;
  	font-size:15px;
	color:#666666;
	margin:0 auto;
	margin-top:15px;
	margin-left:10px;	
}
#right-content .right-text-wrapper {
	float:left;
}
#right-content .right-text-title {
  	font-size:15px;
	color:#666666;
	margin:0 auto;
	font:bold;
	margin-top:5px;
	margin-left:10px;
	float:left;
}
#right-content .right-text-list-title {
  	font-size:15px;
	color:#666666;
	margin:0 auto;
	font:bold;
	margin-top:25px;
	margin-left:10px;
	float:left;
}
#right-content .right-text-video-title {
  	font-size:15px;
	color:#666666;
	margin:0 auto;
	font:bold;
	margin-top:20px;
	margin-left:10px;
	float:left;
}
#right-content .right-text {
	margin:0 auto;
  	font-size:10px;
	color:#666666;
	margin-top:-23px;
	text-align:left;
}
#right-content .right-text-text {
	margin:0 auto;
  	font-size:10px;
	color:#666666;
	margin-left:10px;
	text-align:left;
}
#right-content .right-text-video-text {
	margin:0 auto;
  	font-size:10px;
	color:#666666;
	margin-left:10px;
	margin-top:10px;
	text-align:left;
}
.right-divider{
	background-image:url(right-smaill-divider.jpg);
	width:139px;
	height: 1px;
	margin:0 auto;
	margin-top:10px;
}
.right-divider-top{
	background-image:url(gray_divider.jpg);
	width:201px;
	height: 2px;
	margin:0 auto;
	margin-top:10px;
}
.right-see-more-btn {
	background-image:url(see-more-btn.jpg);
	margin-left:103px;
	margin-top:20px;
	width:126px;
	height:42px;	
}
.right-more-events-btn {
	margin-left:103px;
	margin-top:20px;
	width:122px;
	height:39px;	
}
.right-upcoming-camps-btn{
	float:right;
	margin-top:35px;
	
}
.right-more-media-btn{
	margin:0 auto;
	margin-top:10px;
	width:188px;
	height:39px;
}
.right-videobox{
	margin-top:30px;
}
.right-video-list-item {
	clear:both;	
	background-image:url(gray_background.jpg);	
	background-repeat:repeat-y;
	height:75px;
}
.right-more-videos-btn {
	margin-left:103px;
	margin-top:16px;	
	width:116px;
	height:29px;	
}
.right-orange-video-circle-pic {
	background-image:url(video_circle.jpg);
	margin-left:23px;
	width:48px;
	height:48px;
	float:left;
	margin-top:27px;
}

.contact-form {
	margin-top:25px;
	margin-left:25px;
}

.contact-form label {
	width:75px;	
}

.contact-l {
	margin-bottom:20px;
}

.add-position {
	float:left;
	margin-left:10px;
}

input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:30px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	margin-left:10px;
	color:#ffffff;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}
						
.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);		
}

.left-check-line {
	clear:both;	
}
#contentwrapper {
	float: left;
	width: 100%;
}

.content-profile-about label {

}
.content-profile-about textarea {
	width:450px;
	height:100px;	
}

.content-input-group {
	float:left;
	width:250px;
}

.content-input-group-right {
	float:right;
	width:250px;
}

.content-btn-profile {
	float:right;
}

.content-input-group label {
	clear:both;
}

.content-input-group2 {
	float:left;
}

.content-athlete-picture{
	width:100%;
	height:639px;
}
.content-bg-color{
	background-image:url(home_bg_color.jpg);
	width:100%;
	height:556px;
}
.content-group1 {
	width:32%;
	
	float:left;
	padding-left:20px;
}

.content-why-use{
	padding-top:45px;
}
.content-why-use-text{
	font-size:15px;
	color:#666;
	margin-top:10px;
	margin-left:20px;
	text-align:left;
}
.content-group2 {
	width:32%;
	
	float:left;
	padding-left:20px;
}
.content-how-weblets-works{
	padding-top:45px;
}

.content-how-weblets-works-text{
	font-size:15px;
	color:#666;
	margin-top:10px;
	max-width:236px;
	text-align:left;
}
.content-group3 {
	width:32%;
	
	float:left;
	padding-left:20px;
}
.content-our-customers{
	width:100%;
	padding-top:45px;
}
.content-text{
	font-size:20px;
	color:#666;
	width:100%;
	margin-top:100px;
	text-align: center;
}

.content-nike-pic{
	float:left;
}
.content-ua-pic{
	float:left;
}
.content-adidas-pic{
	float:left;
}
.content-puma-pic{
	float:left;
}
.content-rbk-pic{
	float:left;
}

.content-home-bottom-images {
	width:100%;
	margin:0 auto;
	text-align:center;
}
.content-home-bottom-images-wrap {
	width:800px;
	margin:0 auto;
	margin-top:10px;
}
.content-home-bottom-images-wrap img {
	margin-right:20px;
}
.left-youtube-pf{
	clear:both;
	margin-bottom:5px;
}
.left-transript-pf{
	clear:both;
	margin-bottom:5px;
}
.left-wonderlic-pf{
	clear:both;
	margin-bottom:5px;
}
.left-contact-me-pf{
	clear:both;
	margin-bottom:5px;
}
.left-edit-btn {
	clear:both;
	margin-bottom:5px;
    margin-right:5px;
    float:right;
}
.left-small-circle-wrapper {
	margin-left:25px;
	margin-top:10px;
}

.left-small-white-circle{
	background-image:url(left-white-circle.jpg);
	width:38px;
	height:38px;	
	margin:0 auto;
	float:left;
}
.left-small-white-circle2{
	background-image:url(left-white-circle.jpg);
	width:38px;
	height:38px;	
	margin:0 auto;
	float:left;
}
.left-small-white-circle3{
	background-image:url(left-white-circle.jpg);
	width:38px;
	height:38px;	
	margin:0 auto;
	float:left;
}
.left-small-white-circle4{
	background-image:url(left-white-circle.jpg);
	width:38px;
	height:38px;	
	margin:0 auto;
	float:left;

}

.left-bar-divider{
	background-image: url(oragne_divider.jpg);
	width:150px;
	height: 1px;
	margin:0 auto;
	margin-top:15px;
}
#contentwrapper-space {
	background-image:url(homepageimage.jpg);
}

#contentcolumn-space {
	margin-top:15px;
	margin-left:238px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
	padding-bottom:10px;
	
}

.content-videos-box{ 
	padding:20px;
	margin:0 auto;	
	background-color:#ffffff;
}
.content-videos-box-title{
	font-size:28px;
	color:#e47b41;
}
.content-athletes-videos{ 
	background-color:#FFF;
	width:100%;
	padding:20px;
	border:1px solid gray;
	margin:0 auto;	
	max-width:100px;
}
.content-recruiting-box{ 
	background-color:#FFF;
	padding:20px;
	margin:0 auto;	
	margin-top:20px;
}
.content-social-media-box{ 
	background-color:#FFF;
	padding:20px;
	margin:0 auto;	
	margin-top:20px;	
}
.content-interests-box{ 
	background-color:#FFF;
	padding:20px;
	margin:0 auto;
	margin-top:20px;	
}

.content-recruiting-camps{
	margin:0 20px 0 auto;
	float:left;

}
.content-recruiting-hudi{
	margin:0 20px 0 auto;
	float:left;
}
.content-recruiting-fibit{
	margin:0 20px 0 auto;
	float:left;
}
.content-recruiting-stats{
	margin:0 20px 0 auto;
	float:left;
}
.content-recruiting-ncsa{
	margin:0 20px 0 auto;
	float:left;
}
.content-recruiting-sparq{
	margin:0 20px 0 auto;	
}
.content-sm-facebook{
	margin:0 20px 0 auto;
	float:left;
}
.content-sm-twitter{
	margin:0 20px 0 auto;
	float:left;
}
.content-sm-instagram{
	margin:0 20px 0 auto;
}

.content-interestes-hobby{
	margin:0 20px 0 auto;
	float:left;
}
.content-interestes-schools{
	margin:0 20px 0 auto;
	float:left;
}
.content-interestes-music{
	margin:0 20px 0 auto;
	float:left;
}
.content-interestes-pro{
	margin:0 20px 0 auto;
	float:left;
}
.content-interestes-movies{
	margin:0 20px 0 auto;
	float:left;
}
.content-interestes-subject{
	margin:0 20px 0 auto;

}
.left-content-name{
	font-size:18px;
	color:#FFF;
	margin:0 auto;
	margin-top:15px;
}
.left-content-discripton{
	font-size:12px;
	color:#FFF;
}
.left-content-text {
	font-size:12px;
	color:#FFF;
	display:inline-block;
	padding:15px;
	max-width:180px;
}

.profile-tiles-wrapper {
}

.profile-tiles-wrapper .left-tiles {
    float:left;
    width:284px;
    margin-right:10px;
}

.profile-tiles-wrapper .right-tiles {
    float:left;
    width:284px;
    margin-right:10px;
}

.profile-tiles-wrapper .left-tiles .top-left {
    background-color:#e5e5e7;
    width:284px;
    margin:0 auto;
    text-align:center;
    margin-bottom:10px;
}

.profile-tiles-wrapper .left-tiles .bottom-left {
    background-color:#fafafa;
    width:284px;
    margin:0 auto;
    text-align:center;
}

.profile-tiles-wrapper .right-tiles .top-right {
    background-color:#fafafa;
    width:284px;
    margin:0 auto;
    text-align:center;
    margin-bottom:10px;
}

.profile-tiles-wrapper .right-tiles .bottom-right {
    background-color:#e5e5e7;
    width:284px;
    margin:0 auto;
    text-align:center;
}

.profile-tiles-wrapper .edit-btn {
    float:right;
}

.profile-tiles-wrapper .title {
	font-size:28px;
	color:#e47b41;
    margin:0 auto;
    width:284px;
    text-align:center;
}

.profile-tiles-wrapper .icon-row .icon {
    float:left;
    margin:0 auto;
    width:85px;
    text-align:center;
}


.profile-tiles-wrapper .icon-row {
    width:255px;
    text-align:center;
    margin:0 auto;        
}

.profile-tiles-wrapper .icon-row2 .icon {
    float:left;
    margin:0 auto;
    width:121px;
    text-align:center;
}


.profile-tiles-wrapper .icon-row2 {
    width:242px;
    text-align:center;
    margin:0 auto;    
}

.profile-tiles-wrapper .icon-row3 .icon {
    float:left;
    margin:0 auto;
    width:94px;
    text-align:center;
}


.profile-tiles-wrapper .icon-row3 {
    width:188px;
    text-align:center;
    margin:0 auto;    
}

.popup-wrapper {
    padding:25px;
    width:500px;
}

.upgrade-banner-wrapper {
    background-color:#111111;
}

.video-search-btn {
    margin-left:10px;
}


.selected-fan {
    background: url("selected_fan_tab.png") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
}
