
<div id="contentwrapper">
	<div id="contentcolumn">
		<div class="content-title">About Webletes</div>
		<div class ="content-text-title-about-page">How Webletes Works</div>
		<div class="content-text-about-page">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit hendrerit nunc ultrices venenatis.
			Integer in leo augue, nec dapibus massa. Vivamus eros orci, ullamcorper a venenatis a, volutpat id nunc. Nunc pellentesque est vel tellus 
			interdum vehicula. Proin scelerisque suscipit risus ut porttitor. Pellentesque diam urna, lobortis ac sodales et, suscipit quis augue. Cras 
			ipsum est, vehicula ut sollicitudin vel, dictum ac sem. Maecenas sagittis ultricies lectus, nec viverra dolor consequat vel. Pellentesque 
			faucibus ornare ante porta adipiscing. Maecenas sit amet dui ligula, ac convallis metus. 
		</div>
		<div class ="content-text-title-about-page">How Webletes Works</div>
		<div class="content-text-about-page">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit hendrerit nunc ultrices venenatis.Integer in leo augue, nec dapibus massa. 
			Vivamus eros orci, ullamcorper a venenatis a, volutpat id nunc. Nunc pellentesque est vel tellus interdum vehicula. Proin scelerisque suscipit risus 
			ut porttitor. Pellentesque diam urna, lobortis ac sodales et, suscipit quis augue. Cras ipsum est, vehicula ut sollicitudin vel, dictum ac sem.
			Maecenas sagittis ultricies lectus, nec viverra dolor consequat vel. Pellentesque faucibus ornare ante porta adipiscing. Maecenas sit amet dui ligula,
			ac convallis metus. 
	   </div>
	</div>
</div>
<%= render 'layouts/left_part' %>
