	<div id="contentwrapper">
		<div id="contentcolumn">
			<div class="content-title">Upcoming Camps and Events</div>
            <div class="us-camps-pics"></div>
		    <div class="camp-search-result">
                <div class="camp-search">
                    <div class="camp-search-picture"></div>
			        <div class="camp-search-detail">
				        <div class="camp-search-detail-name">Venice Camp</div>
				        <div class="camp-search-detail-detail"><strong>Location:</strong> Charlotte, NC</div>
				        <div class="camp-search-detail-detail"><strong>Sports:</strong> Baseball, Basketball and Soccer</div>
				        <div class="camp-search-detail-detail"><strong>Capacity:</strong> 250 athletes</div>
			        </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="clear-fix"></div>
                <div class="camp-search">
                    <div class="camp-search-picture"></div>
			        <div class="camp-search-detail">
				        <div class="camp-search-detail-name">Venice Camp</div>
				        <div class="camp-search-detail-detail"><strong>Location:</strong> Charlotte, NC</div>
				        <div class="camp-search-detail-detail"><strong>Sports:</strong> Baseball, Basketball and Soccer</div>
				        <div class="camp-search-detail-detail"><strong>Capacity:</strong> 250 athletes</div>
			        </div>
                    <div class="clear-fix"></div>
                </div>
			    <div class="clear-fix"></div>
		    </div>
		</div>
    </div>
<%= render 'layouts/right_event' %>
<%= render 'layouts/left_event' %>
