	<div id="leftcolumn">
		<div class="left-orange-box">
        	<div class="left-orange-search-divider"></div>
            <div class="left-check-line"><input id="baseball-cb" class="css-checkbox" type="checkbox" /><label for="baseball-cb" name="cb_lbl1" class="css-label">Baseball</label></div>
            <div class="left-check-line"><input id="football-cb" class="css-checkbox" type="checkbox" /><label for="football-cb" name="cb_lbl1" class="css-label">Football</label></div>
            <div class="left-check-line"><input id="soccer-cb" class="css-checkbox" type="checkbox" /><label for="soccer-cb" name="cb_lbl1" class="css-label">Soccer</label></div>
            <div class="left-check-line"><input id="track-cb" class="css-checkbox" type="checkbox" /><label for="track-cb" name="cb_lbl1" class="css-label">Track and Field</label></div>
            <div class="left-check-line"><input id="hockey-cb" class="css-checkbox" type="checkbox" /><label for="hockey-cb" name="cb_lbl1" class="css-label">Hockey</label></div>
            <div class="left-check-line"><input id="lacrosse-cb" class="css-checkbox" type="checkbox" /><label for="lacrosse-cb" name="cb_lbl1" class="css-label">Lacrosse</label></div>
           	<div class="clear-fix"></div>
            <div class="left-orange-bar-divider"></div>
            <div class="left-content"> LOCATION</div>
			<input class="input-medium" type="text" value="Zip Code" />
            <div class="left-content"> TYPE OF CAMP</div>
            <input class="input-medium" type="text" value="" />
            <div class="left-content"> COMPANY HOSTING CAMP</div>
            <input class="input-medium" type="text" value="" />
            <div class="left-orange-bar-search-btn"><%=image_tag('search_now_btn.jpg')%></div> 
        </div>
    </div>
