<div id="leftcolumn">
	<div class="left-orange-box">
	   <div class="left-orange-divider"></div>
	   <div class="left-search-athlete-btn"><%=image_tag('search_athlete_btn.jpg')%></div>
	   <div class="left-events-btn"><%=image_tag('events_btn.jpg')%></div>
	   <div class="left-create-profile-btn"><%=image_tag('profile_btn.jpg')%></div>
	</div>
</div>
<div class="push"></div>
