<nav>
  <ul>
    <li class="nav_links"><a href="#">Home</a></li>
    <li class="nav_links"><a href="#">About</a></li>
    <li class="nav_links"><a href="#">Events</a></li>
    <li class="nav_links"><a href="#">Contact</a></li>
    <!--
    <li class="nav_links"><%#= link_to "Home", root_path %></li>
    <li class="nav_links"><%#= link_to "About", about_path %></li>
    <li class="nav_links"><%#= link_to "Events", events_path %></li>
    <li class="nav_links"><%#= link_to "Contact", contact_path %></li>
    -->
  </ul>
</nav>
