    <div id="rightcolumn">
        <div class="right-gray-box">
            <div class="right-gray-top"></div>
            <div class="right-gray-content">  
                <div class="right-content-title">List of Events</div>
                <div class="right-divider-top"></div>
                <div id="right-content">
                    <div class="right-item-wrapper">
                        <div class="right-orange-circle-pic"></div>
                        <div class="right-text-wrapper">
                            <div class="right-text-title">Webletes USC</div>
                            <div class="clear-fix"></div>
                            <div class="right-text-text">
                                <ul>
                                    <li>Location: Charlotte,NC</li>
                                    <li>Address Here</li>
                                    <li><a href="url">REGISTER</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear-fix"></div>	
                    <div class="right-divider"></div>
                    <div class="right-item-wrapper">
                        <div class="right-orange-circle-pic"></div>
                        <div class="right-text-wrapper">
                            <div class="right-text-title">Webletes UCLA</div>
                            <div class="clear-fix"></div>
                            <div class="right-text-text">
                                <ul>
                                    <li>Location: Charlotte,NC</li>
                                    <li>Address Here</li>
                                    <li><a href="url">REGISTER</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear-fix"></div>	
                    <div class="right-divider"></div>
                    <div class="right-item-wrapper">
                        <div class="right-orange-circle-pic"></div>
                        <div class="right-text-wrapper">
                            <div class="right-text-title">Webletes UCFL</div>
                            <div class="clear-fix"></div>
                            <div class="right-text-text">
                                <ul>
                                    <li>Location: Charlotte,NC</li>
                                    <li>Address Here</li>
                                    <li><a href="url">REGISTER</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear-fix"></div>						
                </div>
                <div class="right-more-events-btn"><%=image_tag('more_events_btn.jpg')%></div> </div>
                <div class="right-gray-bottom"></div>
            </div>
        </div> 
